.research-wrapper {
  margin-top: 10px;
  float: left;
  height: 35px;
  width: 650px;
  border: 3px solid #d62524;
  border-radius: 50px;
  text-align: center;
}

.copyright-research-page {
  padding-top: 20px;
  color: darkgray;
  margin-bottom: 20px;
  text-align: center;
}

.research-input {
  font-size: 18px;
  margin-left: 10px;
  margin-top: 3px;
  border: 0;
  outline: 0;
  padding-left: 0px;
  line-height: 50px;
  width: 75%;
  float: left;
  height: 27px;
  vertical-align: middle;
}

.research-button {
  margin-top: 1px;
  margin-right: 3px;
  float: right;
  width: 15%;
  height: 32px;
  vertical-align: middle;
  color: aliceblue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 600;
  background-color: #d62524;
  border-radius: 50px;
  text-align: center;
}

.research-button:hover {
  background-color: #be1e1e;
}

.IT-logo {
  margin-top: 10px;
  float: left;
  height: 60px;
  vertical-align: middle;
}

.head {
  float: left;
}

.search-result {
  margin-top: 10px;
  width: 100%;
  border-top-style: ridge;
  border-width: 5px;
}

.clear {
  clear: both;
}

.search-count {
  float: left;
  font-size: 13px;
  color: #808080;
  margin-top: 10px;
}

.filter {
  margin-left: 35%;
  margin-top: 10px;
  display: inline-block;
  position: relative;
}

.filter-button {
  color: #808080;
  text-align: center;
  font-size: 13px;
}

.filter-button:hover {
  color: #d62524;
}

.filter-option {
  position: absolute;
  z-index: 10000000;
  width: 80px;
  font-size: 13px;
  color: #808080;
  border-radius: 10px;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.filter a:hover {
  border-radius: 10px;
  background-color: #d62524;
  color: aliceblue;
}

.filter-option a {
  display: block;
  background-color: white;
}

.filter:hover .filter-option {
  display: block;
}

.result-container{
  position: relative;
  z-index: 100;
  margin-left: 16.5%;
  width: 60%;
  margin-top: 25px;
}

.title{
  color: #0000ff;
  font-size: 17px;
}

.text{
  margin-top: 10px;
  color:#727272;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.url{
  margin-top: 4px;
  color: green;
}